/ - content_for :stripe do
/   = javascript_include_tag "https://js.stripe.com/v1/"
/   = tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY
/ - content_for :javascript do
/   = javascript_include_tag "memberships"
/ .row
/   .large-6.columns.large-centered
/     .section.top
/       = render 'layouts/flash'
/       - if current_user.membership.present? && current_user.membership.plan_id != 3
/         .membership_status
/           h2 Awesome!
/           = image_tag "ninja.png", width: 140
/           div
/             | You are subscribed for a monthly contribution of $#{current_user.membership.plan_id == 1 ? 10 : 20}.
/             BR
/             | Your next billing date is #{current_user.membership.plan_id == 1 ? (DateTime.now.at_beginning_of_month.next_month + @created_at.day.days).strftime("%B %-e, %Y") : (DateTime.now.at_beginning_of_year + @created_at.month.months + @created_at.day.days).strftime("%B %-e, %Y")}
/       - else
/         = render 'form'